.modal {
    width: 700px;
    border-radius: 5px;
    max-height: 100%;
}


#form-modal-login {
    height: 280px;
}


#form-modal-signup {
    height: 530px;
}

.user-form-modal-close {
    position: absolute;
    top: 5px;
    right: 0;
    width: 50px;
    border: none;
    color: #f2f2f2;
    margin: 0;
    z-index: 1;
}

#signup-root {
    min-height: 100%;
}


.user-form-col-img {
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    width: 40%;
    min-height: 100%;
}

.user-form-col-img__login {
    background: #000 url("../assets/library-1.jpg") no-repeat center;
    background-size: cover;
}

.user-form-col-img__signup {
    background: #000 url("../assets/library-2.jpg") no-repeat center;
    background-size: cover;
}

.user-form-col {
    background-color: #143056;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    min-height: 100%;
    /*text-align: center;*/
}


.form-switch-btn {
    background-color: transparent !important;
    border: none;
    color: #f6b34e !important;
    font-size: 12px !important;
    text-decoration: underline;
    transition: color 300ms;
}

.form-switch-btn:hover {
    color: #ff3e23 !important;
}



.user-form-col h5 {
    color: #DBE0E5;
    margin: 0;
}

.user-form-col .red-text {
    font-size: 12px;
}


.user-form-col form {
    position: relative;
    width: 100%;
    padding: 30px 50px;
}

.input-field .helper-text {
    font-size: 10px !important;
    margin-left: 2.5rem !important;
}

.user-form-col form button {
    background-color: #f6b34e;
    color: #00001B;
}

.user-form-col form button:hover {
    background-color: #ff3e23;
}



#g-recaptcha {
    -webkit-transform: scale(0.77);
    -moz-transform: scale(0.77);
    -ms-transform: scale(0.77);
    -o-transform: scale(0.77);
    transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

@media screen and (max-width: 992px) {
    .modal {
        width: 100%;
    }

    .user-form-col {
        width: 100%;
    }

    .user-form-col form {

        padding-left: 8px;
        padding-right: 8px;
    }
}
.input-field {
    margin-top: 20px;
}

.input-field input {
    color: #DBE0E5;
    height: 2.1rem !important;
    margin-top: 0 !important;
    font-size: 14px !important;
    margin-left: 2.5rem !important;
    margin-bottom: 3px !important;
}

/* label color */
.input-field label {
    color: #969696 !important;

    margin-left: 2.5rem !important;
    font-size: 12px !important;
}

.input-field label.active {
    margin-bottom: 0 !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #f2f2f2 !important;
}

.input-field input:focus {
    color: #f2f2f2;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom-color: #f2f2f2 !important;
    box-shadow: 0 1px 0 0 #f2f2f2 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #f2f2f2;
}

.input-field .prefix {
    color: #DBE0E5;
    font-size: 1.7rem !important;
}

/*.input-field {*/
/*margin-top: 25px;*/
/*}*/

/*.input-field input {*/
/*color: #f2f2f2;*/
/*}*/

/*#g-recaptcha {*/
/*margin: 10px 0;*/
/*}*/

/*#g-recaptcha > div {*/
/*margin: 0 auto;*/
/*}*/

/*!*.login-root*!*/

/*.user-form-col {*/
/*!*position: absolute;*!*/
/*!*width: 50%;*!*/
/*!*min-height: 100%;*!*/
/*}*/

/*.user-form-col .btn {*/
/*background-color: #F6B34E;*/
/*color: #00001b;*/
/*}*/

/*.user-form-col h2 {*/
/*color: #f2f2f2;*/
/*text-align: center;*/
/*}*/

/*.user-form-col {*/
/*!*left: 0;*!*/
/*!*background: url("../assets/library-1.jpg") no-repeat center;*!*/
/*!*background-size: cover;*!*/
/*}*/

/*.user-form-col-left{*/
/*display: flex;*/
/*float: left;*/
/*width: auto;*/
/*}*/

/*.user-form-col-left__signup {*/
/*left: 0;*/
/*background: url("../assets/library-2.jpg") no-repeat center;*/
/*background-size: cover;*/
/*}*/

/*.user-form-col-left-text {*/
/*margin-top: 0;*/
/*text-align: center;*/
/*color: #f2f2f2;*/
/*z-index: 5;*/
/*}*/
/*.user-form-col-left-text h4 {*/
/*opacity: .75;*/
/*}*/

/*.user-form-col-right {*/
/*!*right: 0;*!*/
/*display: flex;*/
/*float: right;*/
/*min-width: 80%;*/
/*max-width: 100%;*/
/*text-align: center;*/
/*!*min-height: 100vh;*!*/
/*background-color: #143056;*/
/*}*/

/*.user-form-col-right .helper-text {*/
/*text-align: left;*/
/*}*/

/*.prefix {*/
/*color: #f2f2f2;*/
/*}*/

/*.user-form-col form, .user-form-col-left-text {*/
/*display: block;*/
/*width: 80%;*/
/*max-width: 500px;*/
/*!*position: absolute;*!*/
/*!*top: 50%;*!*/
/*!*left: 50%;*!*/
/*!*margin-right: -50%;*!*/
/*!*transform: translate(-50%, -50%);*!*/
/*z-index: 5;*/
/*}*/

/*.user-form-col-left-cover {*/
/*!*position: absolute;*!*/
/*!*top: 0;*!*/
/*!*left: 0;*!*/
/*!*width: 50%;*!*/
/*background-color: #000;*/
/*z-index: 3;*/
/*opacity: .65;*/
/*!*min-height: 100vh;*!*/
/*}*/

/*@media screen and (max-width: 992px) {*/

/*.user-form-col-right form {*/
/*width: 95%;*/
/*}*/

/*.user-form-col {*/
/*width: 100%;*/
/*}*/

/*.user-form-col-left-cover {*/
/*opacity: .7;*/
/*background-color: #000;*/
/*}*/

/*.user-form-col-right {*/
/*left: 0;*/
/*}*/

/*.user-form-col-right__signup {*/
/*background: url("../assets/library-2.jpg") no-repeat center;*/
/*background-size: cover;*/
/*}*/
/*.user-form-col-right__login {*/
/*background: url("../assets/library-1.jpg") no-repeat center;*/
/*background-size: cover;*/
/*}*/

/*}*/
/*!* label color *!*/
/*.input-field label {*/
/*color: #f2f2f2;*/
/*}*/

/*!* label focus color *!*/
/*.input-field input[type=text]:focus + label {*/
/*color: #ff3e23;*/
/*}*/

/*!* label underline focus color *!*/
/*.input-field-text:hover {*/
/*border-bottom: 3px solid #ff3e23;*/
/*box-shadow: 0 1px 0 0 #000;*/
/*}*/

/*!* icon prefix focus color *!*/
/*.input-field .prefix.active {*/
/*color: #F6B34E;*/
/*}*/

