.modal {
    width: 700px;
    border-radius: 5px;
    max-height: 100%;
}


#form-modal-login {
    height: 280px;
}


#form-modal-signup {
    height: 530px;
}

.user-form-modal-close {
    position: absolute;
    top: 5px;
    right: 0;
    width: 50px;
    border: none;
    color: #f2f2f2;
    margin: 0;
    z-index: 1;
}

#signup-root {
    min-height: 100%;
}


.user-form-col-img {
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    width: 40%;
    min-height: 100%;
}

.user-form-col-img__login {
    background: #000 url("../assets/library-1.jpg") no-repeat center;
    background-size: cover;
}

.user-form-col-img__signup {
    background: #000 url("../assets/library-2.jpg") no-repeat center;
    background-size: cover;
}

.user-form-col {
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    min-height: 100%;
}


.form-switch-btn {
    background-color: transparent !important;
    border: none;
    color: #143056 !important;
    font-size: 12px !important;
    text-decoration: underline;
    transition: color 300ms;
}

.form-switch-btn:hover {
    color: #00001B !important;
}



.user-form-col h5 {
    color: #143056;
    margin: 0;
}

.user-form-col .red-text {
    font-size: 12px;
}


.user-form-col form {
    position: relative;
    width: 100%;
    padding: 30px 50px;
}

.input-field .helper-text {
    font-size: 11px !important;
    margin-left: 2.5rem !important;
}

.user-form-col form button {
    background-color: #143056;
    color: #f2f2f2;
}

.user-form-col form button:hover {
    background-color: #00001B;
}



#g-recaptcha {
    -webkit-transform: scale(0.77);
    -moz-transform: scale(0.77);
    -ms-transform: scale(0.77);
    -o-transform: scale(0.77);
    transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

@media screen and (max-width: 992px) {
    .modal {
        width: 100%;
    }

    .user-form-col {
        width: 100%;
    }

    .user-form-col form {

        padding-left: 8px;
        padding-right: 8px;
    }
}
.input-field {
    margin-top: 20px;
}

.input-field input {
    color: #143056;
    height: 2.1rem !important;
    margin-top: 0 !important;
    font-size: 16px !important;
    margin-left: 2.5rem !important;
    margin-bottom: 3px !important;
}

/* label color */
.input-field label {
    color: #143056 !important;

    margin-left: 2.5rem !important;
    font-size: 12px !important;
}

.input-field label.active {
    margin-bottom: 0 !important;
}

.input-field>label:not(.label-icon).active {
    transform: translateY(-11px) scale(.85);
}

/* label focus color */
.input-field input:focus + label {
    color: #143056 !important;
}

.input-field input:focus {
    color: #00001B;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom-color: #00001B !important;
    box-shadow: 0 1px 0 0 #00001B !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #00001B;
}

.input-field .prefix {
    color: #143056;
    font-size: 1.7rem !important;
}
