.input-field {
    margin-top: 25px;
}

.input-field input {
    color: #f2f2f2;
}

#g-recaptcha {
    margin: 10px 0;
}

#g-recaptcha > div {
    margin: 0 auto;
}

.user-form-col {
    position: absolute;
    width: 50%;
    min-height: 100%;
}

.user-form-col .btn {
    background-color: #F6B34E;
    color: #00001b;
}

.user-form-col h2 {
    color: #f2f2f2;
    text-align: center;
}

.user-form-col-left__login {
    left: 0;
    background: url("../assets/library-1.jpg") no-repeat center;
    background-size: cover;
}

.user-form-col-left__signup {
    left: 0;
    background: url("../assets/library-2.jpg") no-repeat center;
    background-size: cover;
}

.user-form-col-left-text {
    margin-top: 0;
    text-align: center;
    color: #f2f2f2;
    z-index: 5;
}
.user-form-col-left-text h4 {
    opacity: .75;
}

.user-form-col-right {
    right: 0;
    text-align: center;
    min-height: 100vh;
    background-color: #143056;
}

.user-form-col-right .helper-text {
    text-align: left;
}

.prefix {
    color: #f2f2f2;
}

.user-form-col form, .user-form-col-left-text {
    display: block;
    width: 80%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.user-form-col-left-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    background-color: #000;
    z-index: 3;
    opacity: .65;
    min-height: 100vh;
}


@media screen and (max-width: 992px) {

    .user-form-col-right form {
    width: 95%;
}

    .user-form-col {
    width: 100%;
}

    .user-form-col-left-cover {
    opacity: .95;
    background-color: #143056;
}

    .user-form-col-right {
    left: 0;
}

    .user-form-col-right__signup {
    background: url("../assets/library-2.jpg") no-repeat center;
    background-size: cover;
}
    .user-form-col-right__login {
    background: url("../assets/library-1.jpg") no-repeat center;
    background-size: cover;
}


}
/* label color */
.input-field label {
    color: #f2f2f2;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff3e23;
}

/* label underline focus color */
.input-field-text:hover {
    border-bottom: 3px solid #ff3e23;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #F6B34E;
}

