#home-page-root {
    text-align: center;
    background: #143056 url("../assets/barcelona-1.jpg") no-repeat center;
    background-size: cover;
    min-height: inherit;
    position: relative;
    z-index: -1;
    transition: margin-left .5s;
}

.home-page-overlay {
    background-color: #000;;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .6;
}

.hero-text-wrapper {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.hero-text-wrapper h1.hero-text {
    margin: 0 30px;
    position: relative;
    z-index: 3;
    text-align: center;
    background: linear-gradient(110deg, #ff3e23 40%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(110deg, #F6B34E 60%, #f2f2f2 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-text-typewrite {
    opacity: .95;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f2f2f2; /* The typwriter cursor */
    white-space:nowrap ; /* Keeps the content on a single line */
    margin: 20px auto 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #f2f2f2;
    }
}

@media screen and (max-width: 600px) {
    .hero-text-typewrite {
        font-size: 14px;
        animation: none;
    }
}