
#home-page {
    min-height: 100vh;
    text-align: center;
    position: relative;
    background: #143056 url("../assets/barcelona-1.jpg") no-repeat center;
    background-size: cover;
    padding-top: 60px;
    overflow: hidden;
}

canvas {
    display: block;
    vertical-align: bottom;
}
#home-page > .row {
    margin-bottom: 0;
}


.hero-text {
    opacity: .95;
}

h1.hero-text  {
    margin: 0 30px;
    color: #FF3E23;
    position: relative;
    z-index: 3;
    vertical-align: middle;
    text-align: center;


    background: linear-gradient(110deg, #F6B34E 31%, rgba(0, 0, 0, 0) 31%), linear-gradient(110deg, #f2f2f2 36%, #ff3e23 36%);
    background-size: 500%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 30% 50%

}



.home-page-nav {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.home-page-cover {
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}

.home-page-nav h4 {
    position: relative;
    z-index: 3;
    font-weight: bold;
}

.home-page-nav h4 a {
    transition: opacity 200ms ease;
}

.home-page-nav h4 a:hover {
    opacity: .75;
}
