
#home-page {
    min-height: 100vh;
    text-align: center;
    position: relative;
    background: #143056 url("../assets/barcelona-1.jpg") no-repeat center;
    background-size: cover;
    padding-top: 60px;
    overflow: hidden;
}
/*}*/
/*#particles-js {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: 2;*/
    /*!*background-color: #b61924;*!*/
    /*background-image: url("");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: 50% 50%;*/
/*}*/



canvas {
    display: block;
    vertical-align: bottom;
}
#home-page > .row {
    margin-bottom: 0;
}

.home-page-img {
    background: url("../assets/flag.png") no-repeat top center;
    background-size: contain;
    width: 100%;
    /*height: 20vh;*/
    position: relative;
    z-index: 3;
    display: block;
}

.hero-text  {
    margin: 0 30px;
    font-weight: bold;
    color: #F6B34E;
    position: relative;
    z-index: 3;
}

.home-page-nav {
    /*padding: 5vh 0;*/
    /*position: relative;*/
    z-index: 3;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.home-page-cover {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}

.home-page-nav h4 {
    position: relative;
    z-index: 3;
    font-weight: bold;

}

.home-page-nav h4 a {
    transition: opacity 200ms ease;
}

.home-page-nav h4 a:hover {
    opacity: .75;
}

.cloud {
    width: 400px;
    height: 200px;
    object-fit: contain;
    z-index: 2;
    position: absolute;
}

.cloud-1 {
    -webkit-animation-name: cloud-anim-1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */

    animation-name: cloud-anim-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.cloud-2 {
    -webkit-animation-name: cloud-anim-2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 60s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */

    animation-name: cloud-anim-2;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

/*.cloud-3 {*/
/*-webkit-animation-name: cloud-anim-3; !* Safari 4.0 - 8.0 *!*/
/*-webkit-animation-duration: 40s; !* Safari 4.0 - 8.0 *!*/
/*-webkit-animation-iteration-count: infinite; !* Safari 4.0 - 8.0 *!*/

/*animation-name: cloud-anim-3;*/
/*animation-duration: 40s;*/
/*animation-iteration-count: infinite;*/
/*}*/

.cloud-4 {
    -webkit-animation-name: cloud-anim-4; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 40s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */

    animation-name: cloud-anim-4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes cloud-anim-1 {
    0%   {left:0px; right: 100%; bottom:0px;}
    100% {right:-400px; bottom:0px;}
}
@keyframes cloud-anim-2 {
    0%   {left:0px; right: 100%; bottom:200px;}
    100% {right:-400px; bottom:200px;}
}
/*@keyframes cloud-anim-3 {*/
/*0%   {right:0px; left: 100%; bottom:40vh;}*/
/*100% {left:-400px; bottom:40vh;}*/
/*}*/
@keyframes cloud-anim-4 {
    0%   {left:0px; right: 100%; bottom:35vh;}
    100% {right:-400px; bottom:35vh;}
}

