blockquote {
    border-left-color: #F6B34E;
}



.bold {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}
.toast {
    background-color: #f6b34e !important;
    color: #00001B !important;
}

#root {
    min-height: 100vh;
    position: relative;
}

#main {

    min-height: inherit;
    transition: margin-left .3s;
}


.fake-nav-background {
    position: absolute;
    height: 50px;
    background-color: #143056;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.fake-nav-background-aboutme {
    background: url("../assets/nav.gif");
    background-size: contain;
}


.row {
    margin-bottom: 0;
}

.progress {
    background-color: #ff3e23;
    margin: 0;
    z-index: 20;
}

.progress-wrapper {
    position: absolute;
    background-color: #00001B;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    /*opacity: .5;*/
    text-align: center;

}



.progress-wrapper > .preloader-wrapper {
    position: absolute;
    top: 50%;
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%)*/
}

.preloader-wrapper {
    margin-top: 10px;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

body {
    /*display: flex !important;*/
    min-height: 100vh !important;
    /*flex-direction: column !important;*/
}

main {
    /*flex: 1 0 auto !important;*/
}


#facts i, #featured_projects i {
    color: #F6B34E;
}

.fixed-action-btn > a {
    background-color: #00001b;
    border: 1px solid #f2f2f2;
}

.fixed-action-btn > a i {
    color: #f2f2f2;
}

.fixed-action-btn > a:hover {
    background-color: #00001b;
    border-color: #F6B34E;
}

.fixed-action-btn > a:hover i {
    color: #F6B34E;

}
