#profile-root {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, #143056 195px, #DBE0E5 195px);
    min-height: 100vh;

}

#profile-root h1 {
    margin: 0;
}

#profile-root .container {
    height: 100% !important;
}

.tabs {
    background-color: #143056;
    position: relative !important;
    box-sizing: border-box !important;
}
.tabs .indicator{
    background-color:#f2f2f2;
}


.tab a {
    padding: 0 10px !important;
    font-size: 14px !important;
    color: #959a9f !important;
    font-weight: bold !important;
}

.tab a.active {
    color: #f2f2f2 !important;
    border-bottom: none !important;
    background-color: #143056 !important;
}

.tab a:hover {
    color: #f2f2f2 !important;
}



.tab-container {
    padding-bottom: 50px;
}

.tab-container-header {
    height: 49px;
    background-color: #143056;
    border-bottom: 1px solid #c6cbd0;
    position: relative;
}

.tab-container-body {
    background-color: #fff;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tab-container-header p {
    color: #959a9f;
}

