.navbar-fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#sidenav-mobile {
    width: 100%;
    text-align: center;
    padding: 20px;
    opacity: .9;
    transition: none;
    margin: 0;
}

.sidenav > li {
    width: auto;
}

nav a.sidenav-trigger i {

    font-size: 35px;

}
.nav-dropdown-btn {
    transition: color 300ms;
}

.nav-dropdown-content {
    display: none;
    background-color: #f2f2f2;
    border: 1px solid #143056;
    position: absolute;
    top: 50px;
    right: 10px;
}

.nav-dropdown-content a {
    color: #143056;
    display: block;
}

.nav-dropdown-content a i {
    font-size: 14px;
}




.nav-dropdown-btn:hover {
    /*background-color: #143056;*/
}

.nav-dropdown-content a:hover {
    background-color: #fff;
    color: #143056;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown:hover .nav-dropdown-btn {
    /*background-color: #143056;*/
    color: #F6B34E;
}

#sidenav-mobile .sidenav-close {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.1em;

}

.sidenav-close-btn {
    background: none;
    color: #f2f2f2;
    margin-top: 100px;
    border: none;
}

.sidenav-close-btn i {
    font-size: 4em;

}

.navbar-fixed .btn, #sidenav-mobile .btn {
    background-color: #F6B34E;
    color: #00001b;
}


.navbar-fixed .btn-flat {
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
}


.navbar-fixed .btn:hover {
    background-color: #ff3e23;
}

.navbar-fixed .btn-flat:hover {
    color: #ff3e23 !important;
    border-color: #ff3e23 !important;
}

.brand-logo {
    z-index: -1;
    opacity: 0;
}

nav {
    background-color: transparent;
    box-shadow: none;
    transition: background-color 1s;
    height: 50px;
    line-height: 50px;
}

nav ul {
    height: 100%;
    padding: 0 10px 0 0;

}


nav ul.right button {
    margin: 0 10px;
}

nav ul li {
    height: inherit;
    padding: 0;

}

nav ul li a {
    color: #f2f2f2;
    height: inherit;
    font-size: 14px;

}

nav .active, .sidenav .active {
    color: #F6B34E;
}

nav .active-hide {
    display: none;
}

nav.scrolled {
    border-bottom: 1px solid #00001b;
    background-color: #143056;
    opacity: .9%;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
}

.sidenav-trigger {
    color: #F6B34E;
}

nav.scrolled .brand-logo {
    opacity: 1;
}

.sidenav {
    background-color: #00001B;
}

.sidenav li > a {
    color: #f2f2f2;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i {
        line-height: 50px;
        height: 50px;
        margin-left: 0;
    }
}